/* Style Reset!!!*/
*{outline:0;padding:0;margin:0;border:0;}
*,*:before,*:after{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
header,article,footer{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a,button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
button,input,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
ul li{list-style:none;}
img{vertical-align:top;}

/* End of Style Reset*/



/* Font!!! */


body {
	font-family: "Montserrat", sans-serif;
}


/* Header css*/

.container {
   max-width: 1600px;
   margin: 0px auto;  
}
.header__discount {
   display: block;
   width: 100%;
   text-align: center;
   color: #fff;
   font-size: 14px;
   line-height: 22px;
   padding-top: 10px;
   background: #282827;
   height: 41px;
   font-weight: 700;
   letter-spacing: 2px;
}
.header__discount img {
   margin-right: 15px;
}
.header__row {
   display: flex;
   justify-content: space-between;
}
.header__menus {
   background: #f4f4f4; 
}
.menus {
   height: 43px;
   align-items: center;
}
.header__right-menu ul {
   display: flex;
   justify-content: space-between;
   width: 922px;
}
.header__right-menu ul li {
   font-weight: 600;
   line-height: 22px;
   font-size: 14px;
   color: #282827;
   letter-spacing: 1px;
}
.header__left-menu {
   display: flex;
   width: 185px;
   justify-content: space-between;
}
.header__language {
   display: flex;

}
#firstL a { 
  color: #808080;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
#secondL a {
  margin-left: 13px;
  color: #808080;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.lang label {
  cursor: pointer;
}
.lang input[type=radio]:checked + label {
  color: #282827;
  font-weight: 800;
}
.lang input[type=radio] {
  display: none;
}
.header__profile {
   display: flex;
   width: 64px;
}
.frsImg {
   margin-right: 28px;
}
.frsImg, .scnImg {
   height: 18px;
   width: 18px;
}




.header__navigation {
   height: 22px;
   width: 100%;
   margin-top: 28px;
}
.header__navigation ul {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.header__navigation ul li{
   font-weight: 700;
   line-height: 22px;
   font-size: 18px;
   letter-spacing: 1px;
   color: #282827;
}
.header__navigation ul li:last-child {
   color: #e71f1f;
}